@charset "UTF-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/noto-sans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../assets/fonts/montserrat.woff") format("woff");
  font-style: normal;
}

body {
  background-color: #000;
  color: white;
}

html {
  /* Плавная прокрутка */
  scroll-behavior: smooth;
}

.header {
  height: 120px;
}

@media (max-width: 640px) {
  .header {
    min-height: 150px;
  }
}

.header__container {
  height: 100%;
  max-width: 400px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header__container {
    padding: 0 10px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
}

@media (max-width: 732px) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__login-container {
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.header__login-link {
  position: relative;
  font-size: 18px;
  text-decoration: none;
}

.header__login-link::after {
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110%;
  height: 1px;
}


a {
  font-size: 24px;
  cursor: pointer;
}

a:link {
  color: hsla(0, 0%, 100%, 1);
  transition: 0.3s;
}

a:visited {
  color: hsla(0, 0%, 100%, 1);
  text-decoration: none;
}

@media (min-width: 768px) {
  a:hover {
    color: hsla(0, 0%, 100%, 1);
  }
}

a:active {
  color: hsla(0, 0%, 100%, 1);
  text-decoration: none;
}

.start-screen {
  height: 820px;
  margin: 0;
}

@media (max-width: 800px) {
  .start-screen {
    height: 1165px;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .start-screen {
    height: 823px;
    overflow: hidden;
  }
}

p {
  margin: 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

}

@media (max-width: 800px) {
  .wrapper {
    max-width: 708px;
    padding: 0 30px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding: 0 10px;
  }
}

.start-screen__main-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 700px;
  position: relative;

  z-index: 0;
}

@media (max-width: 800px) {
  .start-screen__main-content {
    height: 1015px;
  }
}

.start-screen__wrapper {
  position: relative;

  z-index: 0;
}

.start-screen__wrapper::after {
  content: "";
  width: 660px;
  height: 790px;

  position: absolute;
  right: -170px;
  top: -240px;

  z-index: -1;
  transform: rotate(-105deg);

  background-image: url(../assets/svg/purple-spot.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.start-screen__main-content-container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .start-screen__main-content-container {
    flex-direction: column;
    align-items: center;
  }
}

.start-screen__text-content {
  padding-left: 100px;
}

.start-screen__h1 {
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 70px;
}

@media (max-width: 800px) {
  .start-screen__h1 {
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-width: 640px) {
  .start-screen__h1 {
    font-size: 25px;
    align-self: center;
    text-align: center;
    line-height: 127%;
    letter-spacing: 0.06em;
  }
}

.start-screen__text {
  position: relative;
  padding-left: 130px;
  width: 380px;

  z-index: 0;
}

.start-screen__text::before {
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  top: -80px;
  left: 20px;
  z-index: -2;

  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.start-screen__text::after {
  content: "";
  height: 4px;
  width: 130px;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1;

  background-color: #fff;
  transform: rotate(120deg);
}

@media (max-width: 800px) {
  .start-screen__text {
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {
  .start-screen__text {
    text-align: center;
  }
}

.start-screen__phone-image {
  width: 600px;
  position: absolute;
  right: 60px;
  top: -140px;
  /* z-index: -5; */
}

.downloads {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 163px 0 100px;
}

.downloads-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.downloads-links {
  display: flex;
  gap: 30px;
}

.downloads__link {
  text-decoration: solid;
}

.questions__block {
  max-width: 1087px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.questions__container {
  width: 503px;
  height: 312px;
  padding: 0 73px 0 55px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 30px;

  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 21.3671px;
}

.questions__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.our-mission {
  padding: 150px 255px;
  position: relative;
}

.our-mission__phone-image {
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(90deg) translate(-43%);
}

.our-mission__text-block {
  width: 320px;
  margin-left: auto;

  position: relative;

  z-index: 0;
}

.our-mission__title {
  margin-bottom: 30px;
  font-size: 51px;
  letter-spacing: 1px;
}

.our-mission__text {
  font-size: 18px;
  /* line-height: 25px; */
}

.our-mission__text-block::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 55px;

  z-index: -1;

  width: 85px;
  height: 85px;

  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}

.id-scanner {
  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("../assets/webp/background-scanner.webp");
  background-size: cover;
}

.id-scanner__container {
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.id-scanner__text-block {
  max-width: 410px;
}

.id-scanner__title {
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.bi-tool__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bi-tool__wrapper::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 55px;

  z-index: 0;

  width: 85px;
  height: 85px;

  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}

.bi-tool__text-block {
  max-width: 497px;
  z-index: 1;
}

.bi-tool__title {
  font-size: 51px;
}

.bi-tool__text {
  max-width: 395px;

  font-size: 18px;
}

.bi-tool__tool-container{
  width: 703px;
  height: 522px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  position: relative;
}

.tool1 {
  position: absolute;
  left: 116px;
  top: 184px;
}

.tool2 {
  position: absolute;
  right: 135px;
}

.tool3 {
  position: absolute;
  bottom: 135px;
  right: 80px;
}

.tool4 {
  position: absolute;
  bottom: 145px;
  left: 0;
}

.tool5 {
  position: absolute;
  bottom: 10px;
  left: 175px;
}

.tool6 {
  position: absolute;
  bottom: 110px;
  left: 262px;
}

.tool7 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.qr-code {
  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("../assets/webp/background-qr1.webp"), url("../assets/webp/background-qr2.webp");
  background-position: left, left, right;
  background-size: 50%, 50%, 50%;
  background-repeat: no-repeat, no-repeat;
}

.qr-code__container {
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.qr-code__text-block {
  max-width: 410px;
}

.qr-code__title {
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.qr-scan {
  background: url("../assets/svg/background-notab.svg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
}

.qr-scan__container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.qr-scan__text-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.qr-scan__text {
  max-width: 300px;
}

.qr-scan__phone-image {
  position: relative;
  align-self: center;
  z-index: 0;
}

.qr-scan__phone-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, 0);

  z-index: -1;

  width: 585px;
  height: 585px;
  border-radius: 50%;

  background: #F101BF;
  opacity: 0.3;
  filter: blur(50px);
}

.qr-scan__phone-image::before {
  content: 'Scan QR-code';
  position: absolute;
  padding: 60px 0 0 100px;
  top: 50%;
  left: 455px;

  width: 110px;
  height: 185px;

  background: url(../assets/svg/arrow-curve.svg);
  background-repeat: no-repeat;
  background-position: left top;
}
