@charset "UTF-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 51px;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/noto-sans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat.woff") format("woff");
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("../assets/fonts/Manrope-Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir-medium.woff") format("woff");
  font-style: normal;
}

body {
  background-color: #000;
  color: white;
}

html {
  /* Плавная прокрутка */
  scroll-behavior: smooth;
}

.header {
  height: 150px;
  padding-top: 23px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .header {
    min-height: 150px;
  }
}

.header__container {
  height: 100%;
  max-width: 408px;
  padding-left: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header__container {
    padding: 0 10px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
}

@media (max-width: 732px) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__text-logo {
  padding-top: 9px;
}

.header__login-container {
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.header__login-icon {
  margin-top: 13px;
}

.header__login-link {
  margin-top: 7px;
  position: relative;
  font-size: 18px;
  text-decoration: none;
}

.header__login-link::after {
  content: '';
  background-color: white;
  position: absolute;
  left: -3px;
  bottom: 1px;
  width: 113%;
  height: 1px;
}


a {
  font-size: 24px;
  cursor: pointer;
}

a:link {
  color: hsla(0, 0%, 100%, 1);
  transition: 0.3s;
}

a:visited {
  color: hsla(0, 0%, 100%, 1);
  text-decoration: none;
}

@media (min-width: 768px) {
  a:hover {
    color: hsla(0, 0%, 100%, 1);
  }
}

a:active {
  color: hsla(0, 0%, 100%, 1);
  text-decoration: none;
}

.start-screen {
  height: 820px;
  margin: 0;
}

@media (max-width: 800px) {
  .start-screen {
    height: 1165px;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .start-screen {
    height: 823px;
    overflow: hidden;
  }
}

p {
  margin: 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

}

@media (max-width: 800px) {
  .wrapper {
    max-width: 708px;
    padding: 0 30px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding: 0 10px;
  }
}

.start-screen__main-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  min-height: 700px;
  position: relative;

  z-index: 0;
}

@media (max-width: 800px) {
  .start-screen__main-content {
    height: 1015px;
  }
}

.start-screen__wrapper {
  position: relative;

  z-index: 0;
}

.start-screen__wrapper::after {
  content: "";
  width: 660px;
  height: 790px;

  position: absolute;
  right: -170px;
  top: -240px;

  z-index: -1;
  transform: rotate(-105deg);

  background-image: url(../assets/svg/purple-spot.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.start-screen__main-content-container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .start-screen__main-content-container {
    flex-direction: column;
    align-items: center;
  }
}

.start-screen__text-content {
  padding-left: 100px;
  align-self: flex-start;
}

.start-screen__h1 {
  margin: 126px 0 130px 0;
  font-size: 64px;
  line-height: 70px;
}

@media (max-width: 800px) {
  .start-screen__h1 {
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-width: 640px) {
  .start-screen__h1 {
    font-size: 25px;
    align-self: center;
    text-align: center;
    line-height: 127%;
    letter-spacing: 0.06em;
  }
}

.start-screen__text {
  position: relative;
  padding-left: 105px;
  width: 380px;

  letter-spacing: 1px;

  z-index: 0;
}

.start-screen__text::before {
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  top: -75px;
  left: -7px;
  z-index: -2;

  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.start-screen__text::after {
  content: "";
  height: 4px;
  width: 139px;
  position: absolute;
  top: 17px;
  left: -30px;
  z-index: -1;

  background-color: #fff;
  transform: rotate(120deg);
}

@media (max-width: 800px) {
  .start-screen__text {
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {
  .start-screen__text {
    text-align: center;
  }
}

.start-screen__phone-image {
  width: 610px;
  position: absolute;
  right: 47px;
  top: -147px;
}

.downloads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-screen__downloads {
  padding: 0 163px 0 100px;
}

.downloads-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.downloads-links {
  display: flex;
  gap: 26px;
}

.downloads__link {
  text-decoration: solid;
}

.questions__block {
  max-width: 1087px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.questions__container {
  width: 503px;
  height: 312px;
  padding: 0 118px 0 55px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 30px;

  letter-spacing: .8px;

  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 21.3671px;
}

.questions__text {
  margin: 2px 0 0 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.questions__link {
  font-family: "Noto Sans";
  letter-spacing: 0;
}

.questions__text-login {
  letter-spacing: 1px;
  margin: -5px 0 2px 0;
}

.our-mission {
  margin-bottom: 298px;
  padding: 195px 522px;
  position: relative;
}

.our-mission__wrapper {
  display: flex;
}

.our-mission__phone-image {
  position: absolute;
  top: 170px;
  left: 137px;
  transform: rotate(90deg) translate(-43%);
}

.our-mission__text-block {

  margin-left: auto;

  position: relative;

  z-index: 0;
}

.our-mission__title {
  width: 335px;
  margin-bottom: 22px;
}

.our-mission__text {
  width: 320px;
}

.our-mission__text-block::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 55px;

  z-index: -1;

  width: 85px;
  height: 85px;

  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}

.id-scanner__wrapper {
  /* background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("../assets/webp/background-scanner.webp");
  background-size: cover; */
}

.id-scanner__container {
  margin: 0 auto;
  padding: 443px 181px 0 100px;
  position: relative;

  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.id-scanner__container::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 100%;

  z-index: -1;

  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("../assets/webp/background-scanner.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.id-scanner__text-block {
  max-width: 410px;
  margin: 0 0 75px 75px;
}

.id-scanner__title {
  margin-bottom: 21px;
}

.id-scanner__text {
  max-width: 316px;
}

.bi-tool__wrapper {
  padding: 200px 114px 0 100px;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.bi-tool__wrapper::before {
  content: '';
  position: absolute;
  top: -82px;
  left: -208px;

  z-index: 0;

  width: 426px;
  height: 437px;

  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.1;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.bi-tool__text-block {
  max-width: 497px;
  z-index: 1;
}

.bi-tool__title {
  margin: 90px 0 32px 0;
}

.bi-tool__text {
  max-width: 395px;
}

.bi-tool__tool-container {
  width: 703px;
  height: 522px;
  position: relative;
}

.tool1 {
  position: absolute;
  left: 131px;
  top: 184px;
}

.tool2 {
  position: absolute;
  right: 139px;
}

.tool3 {
  position: absolute;
  bottom: 146px;
  right: 84px;
}

.tool4 {
  position: absolute;
  bottom: 157px;
  left: 0;
}

.tool5 {
  position: absolute;
  bottom: 10px;
  left: 181px;
}

.tool6 {
  position: absolute;
  bottom: 110px;
  left: 254px;
}

.tool7 {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .qr-code {
  height: 500px;
} */

.qr-code__container {
  margin: 219px 0 146px 0;
  padding: 0 55px 0 183px;
  height: 1237px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("../assets/webp/background-qr1.webp"), url("../assets/webp/background-qr2.webp");
  background-position: left top, left top, right top;
  background-size: 54%, 54%, 45%;
  background-repeat: no-repeat, no-repeat;
}

.qr-code__container::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 98px;

  width: 135px;
  height: 74px;

  background: url(../assets/svg/inscription-nightlife.svg);
  background-repeat: no-repeat;
  /* background-position: left top; */
}

.qr-code__text-block {
  max-width: 410px;
  align-self: flex-start;
  margin-top: 500px;
}

.qr-code__title {
  margin-bottom: 24px;
  font-size: 50px;
}

.qr-code__text {
  max-width: 315px;
  margin-bottom: 57px;
}

.qr-code__phone-image-1 {
  margin-bottom: 341px;
}

.qr-scan {
  background: url("../assets/svg/background-notab.svg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
}

.qr-scan__container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.qr-scan__text-block {
  max-width: 1240px;
  padding: 76px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qr-scan__title {
  margin: 0;
}

/* .qr-scan__text {
  max-width: 292px;
} */

.qr-scan__phone-image {
  margin: -109px 0 0 20px;
  position: relative;
  align-self: center;
  z-index: 0;
}

.qr-scan__phone-image::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 1022.45px;
  height: 952.07px;
  right: -108%;
  bottom: -21%;

  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
  transform: rotate(-0.55deg);
}

.qr-scan__phone-image::before {
  content: 'Scan QR-code';
  position: absolute;
  padding: 85px 0 0 76px;
  top: 200px;
  left: 385px;

  font-family: "Montserrat";
  font-size: 21px;

  width: 160px;
  height: 185px;

  background: url(../assets/svg/arrow-curve.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.advantages__wrapper {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__text-block {
  margin-right: 160px;
  align-self: flex-end;
}

.advantages__title {
  margin-bottom: 22px;
}

.advantages__text {
  padding-left: 5px;
}

.advantages__benefits-block {
  height: 1000px;
  width: 952px;
  padding-left: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.advantages__benefits-block::after {
  content: '';
  position: absolute;
  width: 286.92px;
  height: 267.17px;
  left: 300%;
  bottom: 25%;

  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.2;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.advantages__phone-image {
  margin: 60px auto;
  position: absolute;
}

.advantages__benefit {
  padding: 19px 24px 21px 23px;

  font-family: 'Roboto';
  font-size: 22.8px;
  line-height: 26.72px;

  z-index: 1;

  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
}

.benefit1 {
  margin: 205px 184px 0 0;
  padding: 21px 24px 21px 23px;
  align-self: flex-end;
}

.benefit2 {
  margin-top: 55px;
  padding: 29px 37px 29px 25px;
  align-self: flex-start;
}

.benefit3 {
  margin: 167px 48px 0 0;
  padding-bottom: 16px;
}

.benefit4 {
  align-self: flex-start;
    margin-left: 222px;
    padding-bottom: 19px;
}

.notab-space__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.notab-space__wrapper::after {
  content: '';
  position: absolute;
  top: 35%;
  left: 35%;

  width: 60%;
  height: 45%;

  background: url(../assets/webp/phone-notab.webp);
  background-repeat: no-repeat;
  background-position: top;
}

.notab-space__background-text {
  font-family: "Manrope", sans-serif;
  font-size: 210px;
  line-height: 191px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 0px #ebe3e3;
}

.notab-space__background {
  position: relative;
}

.notab-space__background::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%);
  background-size: cover;
}


.in-touch__wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.in-touch__wrapper::before {
  content: '';
  position: absolute;
  width: 247.04px;
  height: 250.45px;
  top: 1%;
  left: 1%;

  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.in-touch__wrapper::after {
  content: '';
  position: absolute;
  width: 336.78px;
  height: 341.42px;

  bottom: 4%;
  right: -54%;

  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.in-touch__title {
  text-align: center;
}

.in-touch__text-block {
  z-index: 1;
}

.in-touch__text {
  text-align: center;
  line-height: 25px;
}



/* ---------------------------------------------- */
.feedback-form {
  margin-top: 82px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 23px;
}

.feedback-form__input-field {
  padding: 0 23px;
  width: 100%;
  height: 83px;

  font-family: "Noto Sans";
  color: rgb(0, 0, 0);

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #5C5C5C;
}

.feedback-form__input-field::placeholder {
  color: hsla(0, 0%, 75%, 1);
}

.feedback-form__input-field:focus {
  outline: 0;
  box-shadow: inset 0 0 30px 0.3rem rgb(206, 206, 206);
}

.feedback-form__input-field._empty {
  border: 2px solid #FF0000;
}

.input-venue-city,
.input-state-city {
  flex-basis: 40%;
  flex-grow: 1;
}

.input-message {
  height: 199px;
}


.feedback-form__button {
  height: 80px;
  min-width: 398px;
  margin: 33px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: hsla(0, 0%, 100%, 1);

  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;

  transition: 0.5s;
}

.feedback-form__button:hover {
  text-shadow: 0 0 40px #FFFFFF;
  box-shadow: 0 0 27px rgb(255, 255, 255);
}

/* ------------------------------------------------ */
.footer {
  padding: 100px 0 50px;
  overflow: hidden;
}

.footer__wrapper {
  position: relative;
}

.footer__wrapper::before {
  content: '';
  position: absolute;
  left: -170px;
  bottom: -200px;

  width: 400px;
  height: 400px;

  background: linear-gradient(12deg, #F101BF 3%, #0066FF 97%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(6deg);
}

.footer__downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;
}

.footer__downloads-text {
  font-size: 24px;
}

.footer__downloads-links {
  gap: 59px;
}

.footer__block {
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  z-index: 1;
}

.footer__contact {
  font-family: "Avenir";
  width: 171px;
}

.footer__contact>a {
  font-family: "Avenir";
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.footer__copy {
  font-family: "Avenir";
  font-weight: 800;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__link {
  font-size: 18px;
  text-decoration: none;
}

.cookie {
  width: 100%;
  height: 93px;
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: hsla(218, 22%, 17%, 1);
  transform: translateY(100%);
  transition: .3s;
}

.cookie._show {
  transform: translateY(0%);
  z-index: 10;
}

.cookie__wrapper {
  width: 100%;
  height: 80px;
  padding: 0 24px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie__text {
  font-size: 14px;
}

.cookie__button {
  height: 50px;
  min-width: 132px;

  font-size: 14px;
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.06em;

  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;

  transition: 0.3s;
}

.cookie__button:hover {
  text-shadow: 0 0 40px #FFFFFF;
  box-shadow: 0 0 8px rgb(255, 255, 255);
}