@charset "UTF-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/noto-sans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../assets/fonts/montserrat.woff") format("woff");
  font-style: normal;
}

body {
  background-color: #000;
  color: white;
}

html {
  /* Плавная прокрутка */
  scroll-behavior: smooth;
}

.header {
  height: 120px;
}

@media (max-width: 640px) {
  .header {
    min-height: 150px;
  }
}

.start-screen {
  height: 820px;
  margin: 0;
}

@media (max-width: 800px) {
  .start-screen {
    height: 1165px;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .start-screen {
    height: 823px;
    overflow: hidden;
  }
}

p {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 708px;
    padding: 0 30px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding: 0 10px;
  }
}

.start-screen__main-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 700px;
  position: relative;

  z-index: 0;
}

@media (max-width: 800px) {
  .start-screen__main-content {
    height: 1015px;
  }
}

.start-screen__main-content::after {
  content: "";
  width: 660px;
  height: 790px;

  position: absolute;
  right: -170px;
  top: -240px;

  z-index: -1;
  transform: rotate(-105deg);

  background-image: url(../assets/svg/purple-spot.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.start-screen__main-content-container {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .start-screen__main-content-container {
    flex-direction: column;
    align-items: center;
  }
}

.start-screen__text-content {
  padding-left: 100px;
}

.start-screen__h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 70px;
}

@media (max-width: 800px) {
  .start-screen__h1 {
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-width: 640px) {
  .start-screen__h1 {
    font-size: 25px;
    align-self: center;
    text-align: center;
    line-height: 127%;
    letter-spacing: 0.06em;
  }
}

.start-screen__text {
  position: relative;
  padding-left: 130px;
  width: 380px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  z-index: 0;
}

.start-screen__text::before {
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  top: -80px;
  left: 20px;
  z-index: -2;

  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}

.start-screen__text::after {
  content: "";
  height: 4px;
  width: 130px;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1;

  background-color: #fff;
  transform: rotate(120deg);
}

@media (max-width: 800px) {
  .start-screen__text {
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {
  .start-screen__text {
    text-align: center;
  }
}

.start-screen__phone-image {
  width: 600px;
  position: absolute;
  right: 60px;
  top: -140px;
  /* z-index: -5; */
}

.start-screen__downloads {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 163px 0 100px;
}

.start-screen__screen__downloads-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.start-screen__screen__downloads-links {
  display: flex;
  gap: 30px;
}

.button-make {
  height: 52px;
  min-width: 207px;
  color: hsl(0, 0%, 16%);
  background: hsl(25, 69%, 82%);
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .button-make:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}

.header__container {
  height: 100%;
  max-width: 400px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header__container {
    padding: 0 10px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
}

@media (max-width: 732px) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__login-container {
  width: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.header__login-link::after {
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110%;
  height: 1px;
}


a {
  position: relative;
  cursor: pointer;
}

a:link {
  color: hsl(0, 0%, 80%);
  transition: 0.3s;
  text-decoration: none;
}

a:visited {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}

@media (min-width: 768px) {
  a:hover {
    color: hsl(0, 0%, 98%);
  }
}

a:active {
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}

.title {
  color: hsl(25, 69%, 82%);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 110%;
  font-style: normal;
}

.title-mini {
  font-family: "Arial";
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* 
.footer {
  height: 350px;
  margin: 0 auto;
  background: url(./../../assets/png/noise_transparent_2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
@media (max-width: 1020px) {
  .footer {
    height: 639px;
  }
}
@media (max-width: 596px) {
  .footer {
    height: 809px;
  }
} */

/* .contacts-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1020px) {
  .contacts-container {
    max-width: 875px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 588px) {
  .contacts-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
@media (max-width: 1020px) {
  .contacts {
    padding-top: 10px;
  }
}
@media (max-width: 588px) {
  .contacts {
    padding-top: 30px;
    align-items: center;
    height: 220px;
  }
}

.locations {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-left: -8px;
}
@media (max-width: 1020px) {
  .locations {
    padding: 10px 10px 0 0;
  }
}
@media (max-width: 588px) {
  .locations {
    padding: 0;
    align-items: center;
  }
}

.h3-contacts {
  margin: 0 auto;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: hsl(0, 0%, 33%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-align: left;
  margin: 0;
  line-height: 129%;
  max-width: 279px;
}
@media (max-width: 640px) {
  .h3-contacts {
    font-size: 25px;
    text-align: center;
  }
  .h3-contacts.locs {
    padding-left: 7px;
  }
}

.contact-list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}

.email {
  color: hsl(25, 69%, 82%);
  height: 32px;
  padding-left: 60px;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 44px;
}
.email::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./../../assets/svg/icon-email.svg);
}

.telephone {
  color: hsl(25, 69%, 82%);
  height: 32px;
  padding-left: 60px;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 40px;
}
.telephone::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./../../assets/svg/icon-phone.svg);
}
@media (max-width: 588px) {
  .telephone {
    padding-left: 65px;
  }
  .telephone::before {
    left: 6px;
  }
}

.contact-link {
  cursor: pointer;
  color: hsl(25, 69%, 82%);
  
}
.contact-link:link {
  color: hsl(25, 69%, 82%);
  transition: 0.3s;
  text-decoration: none;
}
.contact-link:visited {
  color: hsl(25, 69%, 82%);
  text-decoration: none;
}
@media (min-width: 768px) {
  .contact-link:hover {
    color: hsl(25, 93%, 88%);
  }
}
.contact-link:active {
  color: hsl(25, 69%, 82%);
  text-decoration: none;
}

.location-one {
  color: hsl(25, 69%, 82%);
  height: 32px;
  padding-left: 60px;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 31px;
  padding-left: 42px;
}
.location-one::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./../../assets/svg/icon-marker.svg);
}
@media (max-width: 588px) {
  .location-one {
    margin-top: 40px;
  }
}

.location-two {
  color: hsl(25, 69%, 82%);
  height: 32px;
  padding-left: 60px;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 52px;
  padding-left: 42px;
}
.location-two::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./../../assets/svg/icon-marker.svg);
}
@media (max-width: 588px) {
  .location-two {
    margin-top: 58px;
  }
}

@media (max-width: 1020px) {
  .footer-image {
    margin: 0 auto;
  }
}
@media (max-width: 588px) {
  .footer-image {
    height: 269px;
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.445);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.popup._show {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  width: 900px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  border-radius: 9px;
}
@media (max-width: 990px) {
  .modal-window {
    width: 630px;
    height: 350px;
  }
}
@media (max-width: 720px) {
  .modal-window {
    width: 240px;
    height: auto;
  }
}

.modal-picture {
  height: 100%;
}
@media (max-width: 720px) {
  .modal-picture {
    display: none;
  }
}
.modal-picture img {
  height: 100%;
  border-radius: 9px;
}

.modal-text {
  box-sizing: border-box;
  padding: 50px 20px 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 990px) {
  .modal-text {
    padding: 10px 8px 0 11px;
  }
}
@media (max-width: 720px) {
  .modal-text {
    padding: 10px 10px;
  }
}

.h3-modal {
  margin: 0 auto;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: hsl(0, 0%, 33%);
  text-align: center;
  margin: 0;
  text-align: left;
  line-height: 133%;
  color: hsl(0, 0%, 0%);
}
@media (max-width: 720px) {
  .h3-modal {
    text-align: center;
  }
}

.modal-type {
  margin: 10px 0 0 0;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
@media (max-width: 990px) {
  .modal-type {
    margin: 8px 0 0 0;
  }
}
@media (max-width: 720px) {
  .modal-type {
    text-align: center;
  }
}

.modal-description {
  margin: 40px 0 0 0;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 113%;
  letter-spacing: 0.06em;
}
@media (max-width: 990px) {
  .modal-description {
    margin: 21px 0 0 0;
    font-size: 13px;
    line-height: 110%;
  }
}
@media (max-width: 720px) {
  .modal-description {
    margin: 22px 0 0 0;
    line-height: 108%;
    text-align: justify;
  }
}

.modal-list {
  padding-left: 14px;
  margin: 40px 0 0 0;
  height: 101px;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .modal-list {
    margin: 18px 0 0 0;
    height: 86px;
  }
}
@media (max-width: 720px) {
  .modal-list {
    margin: 24px 0 0 0;
    line-height: 108%;
    text-align: justify;
    padding-left: 15px;
    height: auto;
    row-gap: 6px;
  }
}
.modal-list li::marker {
  color: hsl(25, 69%, 82%);
  font-size: small;
}

.modal-list-item span {
  font-weight: 700;
}

.button-close {
  height: 52px;
  min-width: 52px;
  color: hsl(0, 0%, 16%);
  background: transparent;
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
  position: absolute;
  top: -52px;
  right: -42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .button-close:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}
.button-close img {
  height: 12px;
}
@media (max-width: 720px) {
  .button-close {
    right: -30px;
  }
}

.about {
  height: 588px;
}
@media (max-width: 800px) {
  .about {
    height: 1048px;
  }
}
@media (max-width: 640px) {
  .about {
    height: 974px;
  }
}

.about-block {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0 0;
}
@media (max-width: 800px) {
  .about-block {
    height: 868px;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .about-block {
    height: 890px;
    padding: 42px 15px 0;
  }
}

.pets-image-container {
  height: 408px;
  width: 300px;
  background-image: url(../../assets/png/about-pets.png);
}
@media (max-width: 800px) {
  .pets-image-container {
    order: 1;
  }
}
@media (max-width: 640px) {
  .pets-image-container {
    align-items: center;
    height: 354px;
    width: 260px;
    background-size: cover;
  }
}

.about-text-block {
  height: 380px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .about-text-block {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .about-text-block {
    width: 100%;
    height: 494px;
  }
}

.h3-about {
  width: 370px;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: hsl(0, 0%, 33%);
}
@media (max-width: 640px) {
  .h3-about {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
}

.p-about {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}
@media (max-width: 640px) {
  .p-about {
    text-align: justify;
  }
}

.pets {
  height: 877px;
  background-color: hsl(0, 0%, 96%);
}
@media (max-width: 640px) {
  .pets {
    height: 791px;
  }
}

.h3-pets {
  margin: 0 auto;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: hsl(0, 0%, 33%);
  text-align: center;
  padding-top: 80px;
}
@media (max-width: 640px) {
  .h3-pets {
    padding-top: 42px;
    font-size: 25px;
  }
}

.slider {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}
@media (max-width: 640px) {
  .slider {
    width: 270px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 42px auto 0;
  }
}
@media (max-width: 640px) {
  .slider {
    width: 270px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 42px auto 0;
    column-gap: 0;
  }
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -244px;
}

.slider-buttons-pets {
  margin: 28px auto;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.prev-pet {
  height: 52px;
  min-width: 52px;
  color: hsl(0, 0%, 16%);
  background: transparent;
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .prev-pet:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}

.next-pet {
  height: 52px;
  min-width: 52px;
  color: hsl(0, 0%, 16%);
  background: transparent;
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .next-pet:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}

.button-content {
  height: 6px;
}

.cards-slider {
  height: 435px;
  display: flex;
  position: relative;
  left: calc(-100% - (100% - 810px) / 2);
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .cards-slider {
    left: calc(-100% - (100% - 540px));
  }
}
@media (max-width: 735px) {
  .cards-slider {
    left: calc(-100% - 10px);
    margin-bottom: 20px;
  }
}

.item {
  width: calc(100% - ((100% - 2430px) / 8 + 270px) * 6);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .item {
    width: calc(100% - ((100% - 1620px) / 5 + 270px) * 4);
  }
}
@media (max-width: 735px) {
  .item {
    justify-content: center;
    width: calc((100% - 20px) / 3);
  }
}

.carousel-wrapper {
  max-width: 990px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .carousel-wrapper {
    order: -1;
  }
}

.card {
  height: 435px;
  width: 270px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  position: relative;
  letter-spacing: 0.06em;
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
}
@media (min-width: 768px) {
  .card:hover .button-learn {
    background-color: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}

.pet-name {
  margin: 26px auto;
  font-weight: 400;
  font-size: 20px;
}

.button-learn {
  height: 52px;
  min-width: 187px;
  color: hsl(0, 0%, 16%);
  background: transparent;
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
  margin-top: 4px;
}
@media (min-width: 768px) {
  .button-learn:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}

.button-rest {
  display: block;
  margin: 60px auto;
  height: 52px;
  min-width: 261px;
  color: hsl(0, 0%, 16%);
  background: hsl(25, 69%, 82%);
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .button-rest:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}
@media (max-width: 640px) {
  .button-rest {
    margin: 42px auto;
  }
}

@keyframes move-right {
  0% {
    left: calc(-100% - (100% - 810px) / 2);
  }
  100% {
    left: calc((-100% - (100% - 810px) / 2) * 2);
  }
}
@keyframes move-right-medium {
  0% {
    left: calc(-100% - (100% - 540px));
  }
  100% {
    left: calc((-100% - (100% - 540px)) * 2);
  }
}
@keyframes move-right-small {
  0% {
    left: calc(-100% - 10px);
  }
  100% {
    left: calc((-100% - 10px) * 2);
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}
@media (max-width: 1024px) {
  .transition-right {
    animation-name: move-right-medium;
  }
}
@media (max-width: 735px) {
  .transition-right {
    animation-name: move-right-small;
  }
}

@keyframes move-left {
  0% {
    left: calc(-100% - (100% - 810px) / 2);
  }
  100% {
    left: 0px;
  }
}
@keyframes move-left-medium {
  0% {
    left: calc(-100% - (100% - 540px));
  }
  100% {
    left: 0px;
  }
}
@keyframes move-left-small {
  0% {
    left: calc(-100% - 10px);
  }
  100% {
    left: 0px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}
@media (max-width: 1024px) {
  .transition-left {
    animation-name: move-left-medium;
  }
}
@media (max-width: 735px) {
  .transition-left {
    animation-name: move-left-small;
  }
}

.help {
  height: 611px;
}
@media (max-width: 1020px) {
  .help {
    height: 779px;
  }
}
@media (max-width: 640px) {
  .help {
    height: 745px;
  }
}

.h3-help {
  margin: 0 auto;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: hsl(0, 0%, 33%);
  text-align: center;
  margin-bottom: 58px;
  padding-top: 80px;
}
@media (max-width: 640px) {
  .h3-help {
    font-size: 25px;
    padding-top: 42px;
    margin-bottom: 42px;
  }
}

.help-list {
  max-width: 1150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: calc(10% + 5px);
  row-gap: 55px;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .help-list {
    column-gap: 10%;
  }
}
@media (max-width: 1020px) {
  .help-list {
    max-width: 630px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: initial;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .help-list {
    grid-template-columns: repeat(2, auto);
    row-gap: 30px;
    padding: 0 5px;
  }
}

.help-card {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .help-card {
    min-width: 170px;
  }
}
@media (max-width: 640px) {
  .help-card {
    height: 87px;
  }
}
@media (max-width: 520px) {
  .help-card {
    min-width: 130px;
  }
}

.help-icon {
  height: 60px;
}
@media (max-width: 640px) {
  .help-icon {
    height: 50px;
  }
}

.p-help {
  color: hsl(0, 0%, 33%);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
@media (max-width: 640px) {
  .p-help {
    font-size: 15px;
  }
}

.in-addition {
  height: 462px;
  background-color: hsl(0, 0%, 96%);
}
@media (max-width: 1020px) {
  .in-addition {
    height: 783px;
  }
}
@media (max-width: 640px) {
  .in-addition {
    height: 542px;
  }
}

.donation-block {
  max-width: 915px;
  height: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  margin: 0 auto;
}
@media (max-width: 1020px) {
  .donation-block {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}
@media (max-width: 640px) {
  .donation-block {
    padding-top: 42px;
  }
}

.donation-image-container {
  height: 261px;
  width: 505px;
  background-image: url(../../assets/png/donation-dog.png);
}
@media (max-width: 1020px) {
  .donation-image-container {
    order: 1;
    margin-top: 60px;
  }
}
@media (max-width: 640px) {
  .donation-image-container {
    margin-top: 42px;
    height: 135px;
    width: 260px;
    background-size: cover;
  }
}

.donation-text-block {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1020px) {
  .donation-text-block {
    height: 282px;
  }
}
@media (max-width: 640px) {
  .donation-text-block {
    width: 100%;
    align-items: center;
  }
}

.h3-donation {
  width: 370px;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  color: hsl(0, 0%, 33%);
  letter-spacing: 0.06em;
}
@media (max-width: 640px) {
  .h3-donation {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
}

.h5-bank {
  color: hsl(0, 0%, 33%);
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.06em;
}
@media (max-width: 640px) {
  .h5-bank {
    text-align: center;
    letter-spacing: 0;
  }
}

.p-legal {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: hsl(0, 0%, 70%);
}
@media (max-width: 640px) {
  .p-legal {
    max-width: 280px;
    text-align: justify;
  }
}

.button-credit {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0;
  max-width: 349px;
  height: 43px;
  min-width: 207px;
  color: hsl(0, 0%, 16%);
  background: hsl(25, 69%, 82%);
  border-radius: 9px;
  letter-spacing: 0.06em;
  border: 2px solid hsl(25, 69%, 82%);
  font-size: 17px;
  transition: 0.5s;
  border: 0px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .button-credit:hover {
    background: hsl(25, 93%, 88%);
    border-color: hsl(25, 93%, 88%);
  }
}
@media (max-width: 640px) {
  .button-credit {
    min-width: 281px;
  }
}

.card-number {
  color: hsl(0, 0%, 33%);
  line-height: 115%;
}
@media (max-width: 640px) {
  .card-number {
    font-size: 15px;
    letter-spacing: 0.06em;
  }
} */